@font-face {
  font-family: digifont;
  src: url(./DS-DIGI.TTF);
}

.App {
  background-color: #282c34;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 50px;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 50px;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ecf0f1;
  font-size: 13px;

}
